<div class="container">
  <div class="row scopes">
    <% scopes.forEach(function(scope){ %>
    <a href="/scopes/<%= scope.id %>">
      <div class="six columns scope">
        <ul>
          <li><h3><%= scope.title %></h3></li>
          <li><%= scope.created_at.getDate()%>/<%= scope.created_at.getMonth()%>/<%= scope.created_at.getFullYear()%></li>
          <li><%= scope.description %></li>
        </ul>
      </div>
    </a>
    <% }); %>
  </div>
</div>